//CSS LANDING PAGE
body {
  font-family: "Andada", serif;

}

//Nav

.logo {
  width: 1.5em;
  padding-top: 8px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../img/24px\ \(4\).svg");
}

.hov:hover {
  color: #ffbb6a !important;
  text-decoration: none;
}

.hov-acc {
  &:hover {
    color: white;
    text-decoration: none;
  }
}

//Header
.logo_blanc {
  width: 80px;
  position: relative;
  right: 0%;
}

header {
  background-image: url("../img/header_img-min.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.since {
  font-size: 16px;
  text-shadow: 0px 4px 4px #000000;
}

.taste {
  font-size: 18px;
  text-shadow: 0px 4px 4px #000000;
}

.nav_burger {
  line-height: 38px;
  color: #585858;
}

// CITATION - Landing page
.citation {
  font-size: 24px !important;
  background-color: #ffbb6a;
}

.article_date {
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
}

.article_citation {
  height: 28px;
}

.article_kappa {
  font-size: 14px;
}

// Rounded Img - Landing page
.section_offer {
  border-radius: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test1 {
  position: relative;
  bottom: 20%;
  background-color: #ffbb6a;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.no_link {
  text-decoration: none;
  color: rgb(49, 49, 49);
}

//FOOTER ALL PAGES

footer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f7f7f7 94.68%),
    #ffffff;
}

.footer_terms {
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  p {
    padding-left: 8px;
  }
}

//RESPONSIVE FONT SIZE
@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .taste {
    font-size: 24px;
  }

  .citation {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;

    p {
      padding-left: 16px;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
  body {
    font-size: 18px;
  }

  .badge-light {
    font-size: 16px;
  }

  .citation {
    font-size: 18px;
  }

  .taste {
    font-size: 24px;
  }

  .footer_terms {
    font-size: 16px;

    p {
      padding-left: 12px;
    }
  }

  .footer_black {
    font-size: 25px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }

  .taste {
    font-size: 28px;
  }

  .since {
    font-size: 24px;
  }

  .citation {
    font-size: 18px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;

    p {
      padding-left: 16px;
    }
  }
}

// Section About us

.adress_orange {
  color: #ffbb6a !important;
}

h1 {
  font-size: 32px;

  a {
    color: black;
  }
}

//PICS

.pages {
  color: #505050;

  &:hover {
    color: #ffbb6a !important;
  }
}

//Menu
//Badges
.badge-light {
  font-size: 16px;
  background-color: #ffbb6a;
  color: white;
}

.number {
  background-color: #ffbb6a;
  color: white;
}

.limited {
  background-color: #ff736a !important;
}

//Forms Contact

.submit {
  background-color: #ffbb6a;
  color: black;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.inputBot {
  width: 500px;
  border: none !important;
  border-bottom: solid 1px black !important;
  font-size: 28px;

  &:focus {
    outline: none !important;
  }
}

.footer_bot {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.bot_svg {
  width: 300px;
}

#output {
  font-size: 32px;
}

.img_bot {
  width: 400px;
}

.none {
  display: none;
}

.supported_img {
  width: 50px;
}

.title_menu {
  &:hover {
    text-decoration: none;
    color: black;
    cursor: initial;
  }
}