body {
  font-family: "Andada", serif;
}
//Nav

.logo {
  width: 2.3em;
  padding-top: 8px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../img/24px\ \(4\).svg");
}

.hov:hover {
  color: #ffbb6a !important;
  text-decoration: none;
}

//Header
.logo_blanc {
  width: 40px;
}

header {
  background-image: url("../img/header_img-min.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.since {
  font-size: 10px;
  text-shadow: 0px 4px 4px #000000;
}

.taste {
  font-size: 12px;
  text-shadow: 0px 4px 4px #000000;
}

.nav_burger {
  line-height: 38px;
  color: #585858;
}

.logo_nav {
  width: 11%;
  position: absolute;
  top: 0%;
  right: 0%;
  padding-right: 16px;
}

.citation {
  font-size: 18px;
  background-color: #ffbb6a;
  width: 225px;
  margin: auto;
}

.article_date {
  font-size: 9px;
  font-family: "Anonymous Pro", monospace;
}

.article_citation {
  height: 28px;
}

.article_kappa {
  font-size: 9px;
}

.section_offer {
  border-radius: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test1 {
  position: relative;
  bottom: 20%;
  background-color: #ffbb6a;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.no_link {
  text-decoration: none;
  color: rgb(49, 49, 49);
}

footer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f7f7f7 94.68%),
    #ffffff;
}

.footer_black {
  color: black;
}

.footer_terms {
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    padding-left: 8px;
  }
}

.footer_contact {
  color: black;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .taste {
    font-size: 24px;
  }

  .citation {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 5%;
    position: relative;
  }
}

@media only screen and (min-width: 400px) and (max-width: 575px) {
  .logo_nav {
    width: 9%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
  body {
    font-size: 18px;
  }

  .badge-light {
    font-size: 16px;
  }

  .citation {
    font-size: 18px;
  }

  .taste {
    font-size: 24px;
  }

  .footer_terms {
    font-size: 16px;
    p {
      padding-left: 12px;
    }
  }

  .footer_black {
    font-size: 25px;
  }

  .logo_nav {
    width: 8%;
    position: relative;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }

  .taste {
    font-size: 24px;
  }

  .since {
    font-size: 14px;
  }
  .citation {
    font-size: 18px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 6%;
    position: relative;
  }
}

//Css Resto

//Nav

.custom-toggler .navbar-toggler-icon {
  background-image: url("../img/24px\ \(4\).svg");
}

.nav_burger {
  line-height: 38px;
  color: #585858;
}

// Section About us
.aboutus_txt {
  text-indent: 10px;
}

.adress_orange {
  color: #ffbb6a !important;
}
//footer
footer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f7f7f7 94.68%),
    #ffffff;
}

.footer_black {
  color: black;
}

.footer_terms {
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    padding-left: 8px;
  }
}

h1 {
  font-size: 32px;
}

.footer_links {
  color: black;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 6%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
  body {
    font-size: 18px;
  }

  .badge-light {
    font-size: 16px;
  }

  .footer_terms {
    font-size: 16px;
    p {
      padding-left: 12px;
    }
  }

  .footer_black {
    font-size: 25px;
  }

  .logo_nav {
    width: 8%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 4.5%;
  }
}

//CSS PICS

//Nav PICS

.pages {
  color: #505050;
  &:hover {
    color: #ffbb6a !important;
  }
}

//footer
footer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f7f7f7 94.68%),
    #ffffff;
}

.footer_black {
  color: black;
}

.footer_terms {
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    padding-left: 8px;
  }
}

h1 {
  font-size: 32px;
}

.footer_contact {
  color: black;
}
.footer_links {
  color: black;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 6%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
  body {
    font-size: 18px;
  }

  .badge-light {
    font-size: 16px;
  }

  .footer_terms {
    font-size: 16px;
    p {
      padding-left: 12px;
    }
  }

  .footer_black {
    font-size: 25px;
  }

  .logo_nav {
    width: 8%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 4.5%;
  }
}

//CSS Menu
body {
  font-family: "Andada", serif;
}
//Nav

.custom-toggler .navbar-toggler-icon {
  background-image: url("../img/24px\ \(4\).svg");
}

.nav_burger {
  line-height: 38px;
  color: #585858;
}

.logo_nav {
  width: 11%;
  position: absolute;
  top: 0%;
  right: 0%;
  padding-right: 16px;
}

h1 {
  font-size: 32px;
  a {
    color: black;
  }
}

.badge-light {
  font-size: 16px;
  background-color: #ffbb6a;
  color: white;
}

.number {
  background-color: #ffbb6a;
  color: white;
}

footer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f7f7f7 94.68%),
    #ffffff;
}

.footer_black {
  color: black;
}

.footer_terms {
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    padding-left: 8px;
  }
}

.footer_links {
  color: black;
}

.limited {
  background-color: #ff736a !important;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 6%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
  body {
    font-size: 18px;
  }

  .badge-light {
    font-size: 16px;
  }

  .footer_terms {
    font-size: 16px;
    p {
      padding-left: 12px;
    }
  }

  .footer_black {
    font-size: 25px;
  }

  .logo_nav {
    width: 8%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 4.5%;
  }
}

//CSS Contact
body {
  font-family: "Andada", serif;
}
//Nav

.custom-toggler .navbar-toggler-icon {
  background-image: url("../img/24px\ \(4\).svg");
}

.nav_burger {
  line-height: 38px;
  color: #585858;
}

.logo_nav {
  width: 11%;
  position: absolute;
  top: 0%;
  right: 0%;
  padding-right: 16px;
}

.submit {
  background-color: #ffbb6a;
  color: white;
}
//footer
footer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f7f7f7 94.68%),
    #ffffff;
}

.footer_black {
  color: black;
}

.footer_terms {
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    padding-left: 8px;
  }
}

h1 {
  font-size: 32px;
}

.footer_links {
  color: black;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 6%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
  body {
    font-size: 18px;
  }

  .badge-light {
    font-size: 16px;
  }

  .footer_terms {
    font-size: 16px;
    p {
      padding-left: 12px;
    }
  }

  .footer_black {
    font-size: 25px;
  }

  .logo_nav {
    width: 8%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }

  .badge-light {
    font-size: 18px;
  }

  .footer_terms {
    font-size: 18px;
    p {
      padding-left: 16px;
    }
  }

  .footer_black {
    font-size: 30px;
  }

  .logo_nav {
    width: 4.5%;
  }
}
